body {
  margin: 0;
  padding: 0;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.sfcccLogo,
.sommarTurreLogo,
.streetsOfNewCapennaLogo{
  width: 300px;
  margin-bottom: 24px;
}
.Date{
  width: 200px;
  margin-bottom: -100px;
  margin-top: -100px;
}

.logoWrapper {
  height: 100%;
  margin-top: 140px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("./images/mobileBG.jpeg");
  background-size: cover;
  background-repeat: "no-repeat";
  background-position: "center center";
}

.buttonController {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 30px;
}

.signUpButton {
  width: 300px;

}

@media (min-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("./images/desktopBG.jpeg");
    background-size: cover;
    background-repeat: "no-repeat";
    background-position: "center center";
  }

  .logoWrapper {
    height: 100%;
    margin-top: 40px;
  }

  .sfcccLogo,
  .sommarTurreLogo,
  .streetsOfNewCapennaLogo{
    width: 400px;
    margin-bottom: 24px;
  }
  .Date{
    width: 200px;
    margin-bottom: -50px;
    margin-top: -20px;
  }

}

